html, body {
  margin:0px;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y proximity;
  overscroll-behavior: contain ;
  
}

body {
  background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
  background-size: cover;
}

.header-class{
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
}

.first{
  
  background: rgba(0, 0, 0,0.5);
  height: 90%;
  padding: 10% 10% 10% 10%;
  
  
}
.second{
  background: rgba(255, 255, 255,0.8);
  height: 100vh;
  scroll-snap-align: center;
  
}
.third{
  background: rgba(95, 252, 252, 0.5);
  height: 100vh;
  scroll-snap-align: center;
}
.fourth{
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  scroll-snap-align: center;
}
.contact-form{
  background: white;
  
  height: 80vh;
}

.p-style{
  color: rgb(12, 7, 1);
  text-align: center;
  left : 50%;
  top : 50%;
  transform: translate(-50%,-50%);
  position: relative;
  font-size: xx-large;  
}

.slide-style{
  position: relative;
  top:50%;
  left:45%;
  color: white;
  align-content: center;
  opacity: 0;
}

